<mat-sidenav-container fullscreen>

  <mat-toolbar color="accent" class="campMat">
    <div>
      <span></span>

      <button mat-button>Campeonato1</button>
      <button mat-button>Campeonato2</button>
      <button mat-button>Campeonato3</button>
      <button mat-button>Campeonato4</button>
    </div>
  </mat-toolbar>

  <mat-toolbar color="primary">
    <div>
      <span></span>
      <span class="spacer"></span>
      <button mat-button *ngFor="let item of menuItem" [routerLink]="[item.path]">{{item.name | uppercase }}</button>
    </div>
  </mat-toolbar>



  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
